*.zip
*.pyc
**/.DS_Store
.vscode/
builds/
tmp/
example.ini
build_files/kivy_recipe copy.py
build_files/Setup - Kopi.py
cython_headers/_kivytest.h
cython_headers/kivytest.h
cython_headers/kivytest_.h
imported_pys/kivytest.py
cython_headers/_appleapi.h

